.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Animasyon süresi ve tipi */
    margin: 10px; /* Kartlar arası boşluk */
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05); /* Kartın büyüklüğünü arttırma */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Gölge efekti ekleme */
}

.card-right{
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}


.image{
    width: 170px; 
    border-radius: 15px;
     height: auto;
}

.card-sides{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
}

.card-container{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
}